<br/>
<div class="card">
<div class="card-header">
<h1>User Details</h1>
    
</div>
<br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Emergency Contact</th>
      <th>User Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.emergencycontact %></td>
        <td><%= user.usertype %></td>
        <td><%= link_to 'Show',user,class:"btn btn-success" %></td>
        <% if can? :update, user    %>
        <td><%= link_to 'Edit', edit_user_path(user),class:"btn btn-dark" %></td>
        <% end  %>
        <% if can? :update, user    %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br/>
<% if can? :create, User  %>
<%= link_to 'New Employee', new_user_path,class:"btn btn-dark" %>
 <% end  %>