

<br/>


   <div class="card">
   <div class="card-header"> 

   <strong><h1><%= @user.name %></h1></strong>
   </div>
  <div class="card-body">

   <p>
   <b>Email:</b>
   <%= @user.email %>
   </p>

   <p>
   <b>Phone:</b>
   <%= @user.phone %>
   </p>

   <p>
   <b>Emergency Contact:</b>
   <%= @user.emergencycontact %>
   </p>

  <p>
  <b>Employee Type:</b>
  <%= @user.usertype %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user),class:"btn btn-success" %> 
  <br><br/>
  <%= link_to 'Back', users_path,class:"btn btn-dark" %>
  <br>
  </div>
  </div>

  <br/>
  <hr>

